{% extends 'base_auth.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-md-4"></div>

        <div class="col-md-4">
            <div class="card mt-5">
                <div class="card-body">

                    <div class="card-title py-3">
                        <h4>Please enter your email to get the reset link</h4>
                    </div>

                    <form action="{% url 'request-password' %}" method="post">
                        {% csrf_token %}

                        {% include 'partials/_messages.html' %}

                        <div class="form-group py-2">
                            <input type="email" name="email" value="{{values.email}}" id="emailField" placeholder="Email" class="form-control form-control-sm">
                        </div>
                        
                        <input type="submit" value="Submit" class="btn btn-primary w-100 submit-btn">
                    </form>

                    <div class="container">
                        <p class="text-lead lead">Have an account? <a href="{% url 'login' %}">Login here</a></p>
                        <p class="text-lead lead">Don`t have an account? <a href="{% url 'register' %}">Register here</a></p>
                    </div>
        
                </div>
            </div>
        </div>

        <div class="col-md-4"></div>
    </div>
    <script src="{% static 'js/register.js' %}"></script>
{% endblock %}
